
    <% if @results["Search"] == nil %>
      <li class="result">That movie title doesn't exist!</li>
    <%else%>
      <% @results["Search"].each do |x| %>
        <p>

        	 <a id="a_results" href="http://localhost:3000/info/<%=x["imdbID"]%>"><%= x["Title"] %></a>
        </p>
        <p>
        	<%= x["Year"] %>
        </p>




      <% end %>
    <%end%>
